.section {
    background: #f2f4f5;
    padding: 20px;

    .section_header {
        .path {
            font-size: 26px;
            color: #aa72ff;
            margin-bottom: 40px;
        }
    }
}
